<div class="breakdown">
            <h3 id="program-heading">Program breakdown</h3>
            <div class="text-section">
                <div class="job-description">
                    <p class="paragraph">
                        WEEK 1<br>
                        LORD GANESHA<br>
                        Book: Sweet Tooth Ganesha by Sanjay Patel and Emily Haynes<br>
                        Craft: Children to depict some of the art found on pages of Sweet Tooth 
                        Ganesha using Week 1 resource pack.<br>
                        Resources needed: templates, paint, Qtips.<br>
                        ___________________________________________________<br>
                        Extension: help children recognize the shape circle. use the
                        template labelled circle to assist them practice.<br>
                        Converstaion promts:
                        1. Discuss with them now the sweets and laddus are in the
                        shape of circle.
                        2. Throughout the day talk, spot and trace the shape circle.
                    </p>
                    <p class="paragraph">
                        WEEK 2<br>
                        WHAT’S THE WEATHER LIKE?<br>
                        Book: Sweet Tooth Ganesha by Sanjay Patel and Emily Haynes<br>
                        Craft: Children to depict some of the art found on pages of Sweet Tooth 
                        Ganesha using Week 1 resource pack.<br>
                        Resources needed: templates, paint, Qtips.<br>
                        ___________________________________________________<br>
                        Extension: help children recognize the shape circle. use the
                        template labelled circle to assist them practice.<br>
                        Converstaion promts:
                        1. Discuss with them now the sweets and laddus are in the
                        shape of circle.
                        2. Throughout the day talk, spot and trace the shape circle.
                    </p>
                    <p class="paragraph">
                        WEEK 3<br>
                        COLORS<br>
                        Book: Sweet Tooth Ganesha by Sanjay Patel and Emily Haynes<br>
                        Craft: Children to depict some of the art found on pages of Sweet Tooth 
                        Ganesha using Week 1 resource pack.<br>
                        Resources needed: templates, paint, Qtips.<br>
                        ___________________________________________________<br>
                        Extension: help children recognize the shape circle. use the
                        template labelled circle to assist them practice.<br>
                        Converstaion promts:
                        1. Discuss with them now the sweets and laddus are in the
                        shape of circle.
                        2. Throughout the day talk, spot and trace the shape circle.
                    </p>
                    <p class="paragraph">
                        WEEK 4<br>
                        COUNTING WITH ME<br>
                        Book: Sweet Tooth Ganesha by Sanjay Patel and Emily Haynes<br>
                        Craft: Children to depict some of the art found on pages of Sweet Tooth 
                        Ganesha using Week 1 resource pack.<br>
                        Resources needed: templates, paint, Qtips.<br>
                        ___________________________________________________<br>
                        Extension: help children recognize the shape circle. use the
                        template labelled circle to assist them practice.<br>
                        Converstaion promts:
                        1. Discuss with them now the sweets and laddus are in the
                        shape of circle.
                        2. Throughout the day talk, spot and trace the shape circle.
                    </p>
                    <p class="paragraph">
                        WEEK 5<br>
                        ME ON THE MAP<br>
                        Book: Sweet Tooth Ganesha by Sanjay Patel and Emily Haynes<br>
                        Craft: Children to depict some of the art found on pages of Sweet Tooth 
                        Ganesha using Week 1 resource pack.<br>
                        Resources needed: templates, paint, Qtips.<br>
                        ___________________________________________________<br>
                        Extension: help children recognize the shape circle. use the
                        template labelled circle to assist them practice.<br>
                        Converstaion promts:
                        1. Discuss with them now the sweets and laddus are in the
                        shape of circle.
                        2. Throughout the day talk, spot and trace the shape circle.
                    </p>
                </div>
            </div>
        </div>