<div class="breakdown">
            <h3 id="heading">FAQs</h3>
            <div class="text-section">
                <div class="job-description">
                    <p class="faq-paragraph">
                        <p class="question">What is the fee?</p>
                        <p class="paragraph-left">This program is free of cost.</p><br><br>
                        <p class="question">Do we (parents/children) have to participate every week?</p>
                        <p class="paragraph-left">Yes</p><br><br>
                        <p class="question">Do parents have to participate during the sessions?</p>
                        <p class="paragraph-left">Parents do not have to participate during the sessions, however it
                        is a great opportunity for bonding with your child as well as
                        watching your little ones learn and encouraging them.</p><br><br>
                    </p>
                </div>
            </div>
        </div>