<div class="breakdown">
            <h3 id="heading">FAQs</h3>
            <div class="text-section">
                <div class="job-description">
                    <p class="faq-paragraph">
                        What is the fee?<br>
                        This program is free of cost.<br><br>
                        Do we have to participate every week?<br>
                        Yes<br><br>
                        Do parents have to participate during the sessions?<br>
                        Parents do not have to participate in any of the
                        sessions or activities. However, a parent must be near
                        by to supervise the sessions every week.
                    </p>
                </div>
            </div>
        </div>