<body>
    <!--CSS GRID MAIN-->
    <div class="container">

        <div class="center-align">
            <h1 class="header">Welcome</h1>
            <span class="title-sub-header">“GEAR UP FOR KINDERGARTEN!”</span>
        </div>
        <div class="intro">
            <div class="gallery-images">
                <div class="projects">
                    <%= image_tag('fam.jpg', :class => "placeholder") %>
                    <p class="paragraph-left">
                    With so many hindrances and unanswered questions we are facing daily, questions and fear
                    regarding our children’s learning progress shouldn’t be one of them. That is why I have taken
                    the initiative in delivering age appropriate education, in the most fun ways, to your little
                    ones at the comfort of your own home.<br><br> I cannot promise what our economy has for us 4 weeks
                    from now but I can say with confidence that your children will be exploring, engaging and
                    getting a head start at learning on this fun journey.
                    </p>
                </div>
            </div>
        </div>
        <div class="cv">
            <h3 id="heading">About the program</h3>
            <div class="text-section">
                <div class="job-description">
                    <p class="paragraph-left">
                        You may be wondering, how exactly does this program work? Or how should you, as parents,
                        be prepared for this program every week for 4 weeks? Here are all your queries answered: as
                        parents, all you have to do is sign up to this program, for free, and join us online once a week for 30
                        mins. That is all! This program will include a story, an activity task, craft ideas, all centered around
                        the topic of the week. Most conveniently, the resources allocated every week will be provided with this package! In other words,
                        you do not have to go out and buy any materials or books to sign up for this program. All the
                        required resources will be provided for free!<br><br> 
                        <p class="question">WHO IS THIS PROGRAM FOR:</p> <p class="paragraph-left">This program is for children aged 3-5 years.</p><br>
                        <p class="question">WHAT WILL THE CHILDREN LEARN:</p> <p class="paragraph-left">Children will be exposed to topics
                        that they should be familiar with before they start kindergarten.
                        As well as a designated activity or craft for each week, this
                        program will also provide extension tasks for those of you who
                        choose to do them at their own pace.</p><br>
                        <p class="question">WHEN/WHERE:</p> <p class="paragraph-left">At the comfort of your own house, I will be visiting
                        your family via google meet once a week. Currently, this pilot program is only available to a selection of families
                        residing inside of Folsom.</p> 
                    </p>
                </div>
            </div>
        </div>
        <h3 id="educator-heading">About the educator</h3>
        <div class="intro">
            <div class="gallery-images">
                <div class="educator">
                    <p class="paragraph-left">
                    My name is Vidhya and I am very excited to visit you and your little ones at home for the next 4
                    weeks!<br><br>
                    I am a fully qualified kindergarten teacher, currently working as an assistant director at a
                    preschool. I have taught in classrooms for over 6 years, specializing in teaching ESL students.
                    (English as Second Language). I am and always have been passionate about igniting young minds, 
                    stimulating their abilities and kindling a genuine love for learning.
                    </p>
                    <%= image_tag('placeholder.png', :class => "placeholder") %>
                </div>
            </div>
        </div>
        <div class="contact">
            <p id="heading">CONTACT</p>
        </div>

        <div class="icon-position">
            <a href="https://www.instagram.com/theammainme/?hl=en"><i id="icon" class="fab fa-instagram"></i></a>
            <a><i id="icon" class="fas fa-envelope"></i></a>
        </div>

    </div>
</body>

</html>