/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    position: relative;
}

.container-fluid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.background::before {
    content: "";
    background-image: url("lilypad.jpg");
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.container {
    width: 98vw;
    height: 98vh;
    justify-content: center;
}

#navigation {
    display: flex;
    justify-content: center;
    background-color: #ff849f;
}

.intro {
    display: flex;
    justify-content: center;
}

.cv {
    justify-content: center;
    padding: 10% 2%;
}

.center-align {
    justify-content: center;
    margin-top: 150px;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    padding: 30px 60px;
    list-style-type: none;
}

.nav-signup {
    text-decoration: none;
    padding: 30px 0;
    list-style-type: none;
    float: right;
}

.nav-signup a {
    color: #663398!important;
    font-size: 24px;
    padding: 30px 5px;
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    color: #663398;
    font-family: 'Indie Flower', cursive;
}

.nav-logo {
    width:100%;
    height:auto;
    list-style-type: none;
    margin-right: 130px;
}

.header {
    color: #25aa00;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 60px;
}

#icon {
    padding: 20px 50px;
}

#heading {
    color: #25aa00;
    justify-content: center;
    text-align: center;
    padding: 60px 20px 30px 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 43px;
}

#educator-heading {
    color: #25aa00;
    justify-content: center;
    text-align: center;
    padding: 60px 20px 30px 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 43px;
}

#program-heading {
    color: #25aa00;
    justify-content: center;
    text-align: center;
    padding: 60px 20px 30px 20px;
    font-size: 25px;
}

.placeholder {
    width: 42%;
    padding: 0px 20px;
}

.vidhya-pic {
    width: 27%;
    padding: 0px 20px;
}

.contact {
    color: black;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
}

.text-section {
    position: relative;
}

.logo {
    position: absolute;
    margin: -5px 10px;
    width: 75px;
}

.paragraph {
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    padding: 20px 60px;
}

.faq-paragraph {
    color: black;
    font-size: 16px;
    text-align: left;
    line-height: 35px;
    padding: -1px 60px;
}

.paragraph-left {
    color: black;
    font-size: 18px;
    text-align: left;
    line-height: 35px;
}

.question {
    color: #25aa00;
    font-size: 18px;
    text-align: left;
    line-height: 35px;
}

.nav-header {
    color: #fff;
    font-size: 20px;
}

.projects {
    display: flex;
    padding: 15% 0% 10px 0%;
}

.educator {
    display: flex;
    padding: 2% 5% 15% 5%;
}

.breakdown {
    justify-content: center;
    padding: 4% 10%;
}

.sub-header {
    font-size: 15px;
    color: black;
    opacity: 0.5;
}

.title-sub-header {
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.job-description {
    font-size: 10px;
    line-height: 20px;
}

.icon-position {
    color: #ff849f;
    font-size: 60px;
    padding: 0 20px 50px 20px;
    text-align: center;
}

#icon {
    color: #ff849f;
    font-size: 60px;
}

.user-info {
    display: flex;
    justify-content: center;
    margin: 50px;
}

/* @media only screen and (max-width:750px) {} */

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container-fluid {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container-fluid {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container-fluid {
      width: 300px;
    }
  }